*,
html {}

body {
    box-sizing: border-box;
    content: "";
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 13px;
    font-weight: 400;
    font-family: arial, sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    width: 100%;
    min-height: 90vh;
}

.main-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px;
    line-height: 28px;
}

.main-header>p,
.main-header>div {
    margin-right: 16px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.app>i {
    font-size: 20px;
    margin-top: 6px;
}

.button {
    background-color: #4285f4;
    color: white;
    padding: 1px 24px;
    border-radius: 3px;
}

.googleImage {
    margin-top: 109px;
}

.googleImage>div {
    width: 270px;
    height: 92px;
    background-image: url("./google.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-container {
    display: flex;
}

.buttonSearch {
    display: flex;
}

.search-container {
    width: 30vw;
    min-width: 400px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: 1px solid gainsboro;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 24px;
    margin-top: 32px;
}

input {
    background: rgba(0, 0, 0, 0);
    border: none;
}

.searchIcon,
.keyboard,
.mic {
    width: 10%;
    text-align: center;
}

.input {
    width: 70%;
}

.buttonSearch {
    width: 30vw;
    min-width: 400px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.searchWithGoogle,
.firstPage {
    background-color: rgb(241, 241, 241);
    padding: 8px 24px;
    margin-right: 16px;
    color: #555555;
    border-radius: 2px;
}

.otherLangue {
    margin-top: 16px;
}

.footer {
    background-color: #d3d3d3;
    height: 10%;
    max-height: 15vh;
    font-size: 14px;
    color: #555555;
}

.footer-top {
    margin-left: 1rem;
    height: 4vh;
    display: flex;
    align-items: center;
}

.footer-bottom {
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    height: 4vh;
    align-items: center;
}

.booter-bottom-left>span {
    margin-right: 8px;
    cursor: pointer;
}

.booter-bottom-right>span {
    margin-left: 8px;
    cursor: pointer;
}

.footer-bottom>div>span:hover {
    color: red;
    transition: all 300ms;
}

.booter-bottom-left:hover {
    /* transform: rotate(40deg); */
    transition: all 900ms;
    background: linear-gradient( 0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}